#top-banner{
    display: block;
    background-color: darkgreen;
}

#logo{
    width: 90px;
    height: 100px;
}

#delivery{
    color: white;
}

#gunpowder-plot{
    float: left;
    vertical-align: top;
    width: 45%;
    padding:10px;
    border: 2px solid;
}

#in-the-news {
    float:right;
    border:2px solid;
    width: 45%;
    padding: 10px;
}
#sideBar {
    float:right;
    margin-right: 5px;
width:5%;
}