#top-banner{
    display: block;
    background-color: darkgreen;
}

#logo{
    width: 90px;
    height: 100px;
}

#delivery{
    color: white;
}

#gunpowder-plot{
    float: left;
    vertical-align: top;
    width: 40%;
    padding: 2px;
    border: 2px solid;
  
}

#in-the-news {
    float:right;
    border:2px solid;
    width: 40%;
    padding: 2px;
   
}
#sideBar {
    float:right;
    margin: 2%;
    width: 10vh;
    height: 100vh;
    border:2px solid;
    padding: 2px;
}

#did-you-know {
    border: 2px solid;
    padding: 2px;
    float:left;
    width:40%;
}

#on-this-day {
    border: 2px solid;
    padding: 2px;
    float:right;
    width:40%;
}

footer {
   clear: both;
    width: 100%;
    text-align: center;
    padding: 15px;
    border: 2px solid;
    height:10px;
}

