#top-banner{
    display: block;
    background-color: darkgreen;
}

#logo{
    width: 90px;
    height: 100px;
}

#delivery{
    color: white;
}

#gunpowder-plot, #in-the-news {
    display: inline-block;
    vertical-align: top;
}