body {
    background-color: rgb(51, 133, 51);
}

header{
    background-color: rgb(155, 251, 155);
    background-image: url("../images/Polygon Banner.jpg");
}

#intro{
    padding: 5% 0;
    text-align: center;
}

#recent-posts{
    background-color: rgb(155, 251, 155);
    padding: 10px 0;
    text-align: center;
}

#recent-updates{
    background-color: rgb(155, 251, 155);
    padding: 10px;
    text-align: center;
    margin-left: 20%;
    margin-right: 30px;
    clear: both;
}

#updates{
    text-align: center;
    width: 80%;
    padding-left: 20%;
}

footer {
    background-color: rgb(68, 177, 68);
    text-align: center;
    clear: both;
}

#sideBar {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 10px 0;
    background-color: rgb(68, 177, 68);
}

#sideBar ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: none;
    border: none;
}

#sideBar ul li {
    padding: 0 4vw;
    font-size: x-large;
}

#sideBar ul li a {
    text-decoration: none;
}

#work{
    width: 70%;
    border: 2px solid;
    display: inline-block;
    margin: 0;
}

#life {
    border:2px solid;
    width: 70%;
    display: inline-block;
    margin: 20px 0;
}

#rant {
    border: 2px solid;
    width:70%;
    display: inline-block;
    margin: 0;
}

#Update1{
    border: 2px solid;
    width:80%;
    display: inline-block;
    vertical-align: top;
}

#Update2{
     width: 80%;
    padding: 2px;
    border: 2px solid;
   display: inline-block;
    margin-right: 50px;
    margin: 20px;
    vertical-align: top;
}

.banner h2{
    display: block;
    border: 1px grey solid;
    padding: 0;
    margin: 0;
  
}

.banner {
     background: rgb(210, 250, 210);
}

ul{
    list-style-type: none;
}

#contact #title {
    text-align: center;
}

#contact #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#photos img {
    width: 25%;
    height: 25%;
}

.photo-container a:not(:first-child) {
    display: none;
}

.input-item input, textarea {
    border: none;
    background-color: rgb(210, 250, 210);
}