body {
    background-color: rgb(208, 228, 248);
}

header{
    background-color: rgb(141, 198, 255);
    background-image: url("../images/q_mark_bg.jpeg");
}


footer {
     background-color: rgb(210, 250, 210);
    padding: 10px;
    text-align: center;
    margin-left: 20%;
    margin-right: 30px;
    clear: both;
}

.flex-table {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1100px;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", serif;
  color: #111;
  padding-top: 20px;
}

.flex-table .row {
  display: flex;
  align-items: stretch;
}

.flex-table .row.header {
  background: #dff8d9;
  font-weight: 700;
  text-align: left;
}

.flex-table .cell {
  flex: 1;
  padding: 12px 14px;
  border: 2px solid #6b6b6b;
  box-sizing: border-box;
  min-width: 0;
  background: #e9f2ff;
}

.flex-table .cell.title {
  flex: 2;
}

.flex-table .row:not(.header):nth-child(odd) .cell {
  background: #ffffff;
}

@media (max-width: 768px) {
  .flex-table {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .flex-table .row {
    flex-direction: column;
    gap: 6px;
  }

  .flex-table .row.header {
    display: none;
  }

  .flex-table .cell::before {
    content: attr(data-label);
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
    color: #1a1a1a;
  }

  .flex-table .cell {
    flex: none;
    width: 100%;
    border-width: 1px;
    padding: 14px;
    background: #f8fbff;
    box-sizing: border-box;
  }
}

#sideBar {
    float:left;
   
    width: 15vw;
    height: 100vh;
    padding: 2px;

}

#sideBar ul {
    border: 2px black solid;
    border-style: none;
    padding: 50px;
    background-color: rgb(210, 250, 210);
    width: 30%;
}

#sideBar ul li {
    padding: 10px 0;
    text-align: left;
    font-size: x-large;
}

.banner h2{
    display: block;
    border: 1px grey solid;
    padding: 0;
    margin: 0;
  
}

.banner {
     background: rgb(210, 250, 210);
}

ul{
    list-style-type: none;
}

#contact #title {
    text-align: center;
}

#contact #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#photos img {
    width: 25%;
    height: 25%;
}

.photo_container {
    float: inline-end;
}