body {
    background-color: rgb(208, 228, 248);
}

header{
    background-color: rgb(141, 198, 255);
    background-image: url("../images/q_mark_bg.jpeg");
}

#intro{
    padding: 5% 0;
    text-align: center;
}

#recent-posts{
    background-color: rgb(210, 250, 210);
    padding: 10px 0;
    text-align: center;
    margin-left: 20%;
    margin-right: 30px;
}

#recent-updates{
    background-color: rgb(210, 250, 210);
    padding: 10px;
    text-align: center;
    clear: both;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 30px;
    clear: both;
}

#updates{
    text-align: center;
    width: 80%;
    padding-left: 20%;
}

footer {
     background-color: rgb(210, 250, 210);
    padding: 10px;
    text-align: center;
    margin-left: 20%;
    margin-right: 30px;
    clear: both;
}

#sideBar {
    float:left;
   
    width: 15vw;
    height: 100vh;
    padding: 2px;

}

#sideBar ul {
    border: 2px black solid;
    border-style: none;
    padding: 50px;

    background-color: rgb(210, 250, 210);
    position:fixed;
    width: 10%;
}

#sideBar ul li {
    padding: 10px 0;
    text-align: left;
    font-size: x-large;
}

#work{
width: 300px;
height: 400px;
border: 1px solid #000;
padding: 10px;
box-sizing: border-box;
overflow: hidden;
float: right;
margin-right: 50px;
margin-bottom: 30px;
}

#life {
width: 300px;
height: 400px;
border: 1px solid #000;
padding: 10px;
box-sizing: border-box;
overflow: hidden;
float: right;
margin: 0 100px;
margin-bottom: 30px;
}

#rant {
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; 
    float: right;
    margin-bottom: 30px;
}

#Update1{
 border: 2px solid;
    padding: 2px;
    width:40%;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

#Update2{
     width: 40%;
    padding: 2px;
    border: 2px solid;
   display: inline-block;
    margin-right: 50px;
    margin: 20px;
    vertical-align: top;
}

.banner h2{
    display: block;
    border: 1px grey solid;
    padding: 0;
    margin: 0;
  
}

.banner {
     background: rgb(210, 250, 210);
}

ul{
    list-style-type: none;
}

#contact #title {
    text-align: center;
}

#contact #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#photos img {
    width: 25%;
    height: 25%;
}

.photo-container a:not(:first-child) {
    display: none;
}

.photo-container a:first-child {
    padding-left: 50px;
}

.input-item input, textarea {
    border: none;
    background-color: rgb(210, 250, 210);
}