body {
    background-color: rgb(208, 228, 248);
}

header{
    background-color: rgb(141, 198, 255);
    background-image: url("../images/q_mark_bg.jpeg");
    height: 100px;
}

#intro{
    padding: 5px;
    text-align: center;
}

#recent-posts{
    background-color: rgb(210, 250, 210);
    padding: 10px 0;
    text-align: center;
   margin: 30px;
}

#recent-updates{
   background-color: rgb(210, 250, 210);
    padding: 10px 0;
    text-align: center;
   margin: 30px;
}

#updates{
    text-align: center;
    width: 80%;
    padding-left: 10%;
}

#posts{
    text-align: center;
}

#sideBar {
    width: 100%;
    height: 50px;
margin-top: 10px;
}

#sideBar ul {
    border: 2px black solid;
    text-align: center;
    border-style: none;
    background-color: rgb(210, 250, 210);
}

#sideBar ul li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: x-large;
}

#work{
    width: 20%;
    padding: 2px;
    border: 2px solid;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 10px 0 10px;
}

#life {
    border:2px solid;
    width: 20%;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
 margin: 0 10px 0 10px;
}

#rant {
    border: 2px solid;
    padding: 2px;
    width:20%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  margin: 0 10px 0 10px;
}
#Update1{
 border: 2px solid;
    padding: 2px;
    width:40%;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    text-align: center;
}

#Update2{
     width: 40%;
    padding: 2px;
    border: 2px solid;
   display: inline-block;
    margin-right: 50px;
    margin: 20px;
    vertical-align: top;
    text-align: center;
}

.banner h2{
    display: block;
    border: 1px grey solid;
    padding: 0;
    margin: 0;
  
}

.banner {
     background: rgb(210, 250, 210);
}

ul{
    list-style-type: none;
}

footer {
     background-color: rgb(210, 250, 210);
    padding: 10px;
    text-align: center;
    margin: 40px;
    clear: both;
}
