body {
    background-color: rgb(208, 228, 248);
}

header{
    background-color: rgb(141, 198, 255);
    background-image: url("../images/q_mark_bg.jpeg");
}

#intro{
    padding: 5% 0;
    text-align: center;
}

#recent-posts{
    background-color: rgb(210, 250, 210);
    padding: 10px 0;
    text-align: center;
    margin-left: 20%;
    margin-right: 30px;
}

#sideBar {
    float:left;
    margin: 2%;
    width: 15vw;
    height: 80vh;
    padding: 2px;

}

#sideBar ul {
    border: 2px black solid;
    border-style: none;
    padding: 50% 0;
    background-color: rgb(210, 250, 210);
}

#sideBar ul li {
    padding: 10% 0;
    text-align: center;
    font-size: x-large;
}

#work{
    width: 20%;
    padding: 2px;
    border: 2px solid;
    float: right;
    margin-right: 50px;
}

#life {
    border:2px solid;
    width: 20%;
    padding: 2px;
    float: right;
    margin: 0 100px;
}

#rant {
    border: 2px solid;
    padding: 2px;
    width:20%;
    float: right;
}

.banner h2{
    display: block;
    border: 1px grey solid;
    padding: 0;
    margin: 0;
}

#work-banner{
    background-color: rgb(210, 250, 210);
}

#life-banner{
    background-color: rgb(210, 250, 210);
}

#rant-banner{
    background-color: rgb(210, 250, 210);
}


ul{
    list-style-type: none;
}
