body {
    background-color: rgb(199, 223, 247);
}

#posts{
    float: right;
}

#work{
    width: 30%;
    padding: 2px;
    border: 2px solid;
}

#life {
    border:2px solid;
    width: 30%;
    padding: 2px;
   
}
#sideBar {
    float:left;
    margin: 2%;
    width: 30vh;
    padding: 2px;
}

#rant {
    border: 2px solid;
    padding: 2px;
    width:30%;
}

.banner h2{
    display: block;
    border: 1px grey solid;
    padding: 0;
    margin: 0;
}

#work-banner{
    background-color: rgb(210, 250, 210);
}

#life-banner{
    background-color: rgb(210, 250, 210);
}

#rant-banner{
    background-color: rgb(210, 250, 210);
}


ul{
    list-style-type: none;
}

ul a{
    text-decoration: none;
}

