

@media (max-width: 768px) {
  .flex-table {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .flex-table .row {
    flex-direction: column;
    gap: 6px;
  }

  .flex-table .row.header {
    display: none;
  }

  .flex-table .cell::before {
    content: attr(data-label);
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
    color: #1a1a1a;
  }

  .flex-table .cell {
    flex: none;
    width: 100%;
    border-width: 1px;
    padding: 14px;
    background: #f8fbff;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(51, 133, 51);
}

header{
    background-color: rgb(155, 251, 155);
    background-image: url("../images/Polygon Banner.jpg");
}

#intro{
    padding: 5% 0;
    text-align: center;
}

#recent-posts{
    background-color: rgb(155, 251, 155);
    padding: 10px 0;
    text-align: center;
}

#recent-updates{
    background-color: rgb(155, 251, 155);
    padding: 10px;
    text-align: center;
     
    margin-right: 30px;
    clear: both;
}

#updates{
    text-align: center;
    width: 80%;
    
}

footer {
    background-color: rgb(68, 177, 68);
    text-align: center;
    clear: both;
}

#sideBar {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 10px 0;
    background-color: rgb(68, 177, 68);
}

#sideBar ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: none;
    border: none;
}

#sideBar ul li {
    padding: 0 10vw;
    font-size: x-large;
}

#sideBar ul li a {
    text-decoration: none;
}

#work{
    width: 70%;
    border: 2px solid;
    display: inline-block;
    margin: 0;
}

#life {
    border:2px solid;
    width: 70%;
    display: inline-block;
    margin: 20px 0;
}

#rant {
    border: 2px solid;
    width:70%;
    display: inline-block;
    margin: 0;
}

#Update1{
    border: 2px solid;
    width:80%;
    display: inline-block;
    vertical-align: top;
}

#Update2{
     width: 80%;
    padding: 2px;
    border: 2px solid;
   display: inline-block;
    margin-right: 50px;
    margin: 20px;
    vertical-align: top;
}

.banner h2{
    display: block;
    border: 1px grey solid;
    padding: 0;
    margin: 0;
  
}

.banner {
     background: rgb(210, 250, 210);
}

ul{
    list-style-type: none;
}

#contact #title {
    text-align: center;
}

#contact #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#photos img {
    width: 25%;
    height: 25%;
}

.photo-container a:not(:first-child) {
    display: none;
}

.input-item input, textarea {
    border: none;
    background-color: rgb(210, 250, 210);
}
}

@media (min-width: 769px) {
body {
    background-color: rgb(51, 133, 51);
}

header{
    background-color: rgb(155, 251, 155);
    background-image: url("../images/Polygon Banner.jpg");
}
.flex-table {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1100px;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", serif;
  color: #111;
  padding-top: 20px;
  padding-left: 15vw;
}

.flex-table .row {
  display: flex;
  align-items: stretch;
}

.flex-table .row.header {
  background: #dff8d9;
  font-weight: 700;
  text-align: left;
}

.flex-table .cell {
  flex: 1;
  padding: 12px 14px;
  border: 2px solid #6b6b6b;
  box-sizing: border-box;
  min-width: 0;
  background: #e9f2ff;
}

.flex-table .cell.title {
  flex: 2;
}

.flex-table .row:not(.header):nth-child(odd) .cell {
  background: #ffffff;
}

#bigDiv {
    margin-left: 20%;
}
#intro{
    padding: 5% 0;
    text-align: center;
}

#recent-posts{
    background-color: rgb(155, 251, 155);
    padding: 10px 0;
    text-align: center;
     
    margin-right: 30px;
}

#recent-updates{
    background-color: rgb(155, 251, 155);
    padding: 10px;
    text-align: center;
    clear: both;
    margin-top: 30px;
     
    margin-right: 30px;
    clear: both;
}

footer {
    background-color: rgb(68, 177, 68);
    padding: 5px;
    text-align: center;
    clear: both;
}

#sideBar {
    float:left;
    position: fixed;
    width: 15vw;
    height: 80vh;
    padding: 2px;

}

#sideBar ul {
    border: 2px black solid;
    border-style: none;
    padding: 50px;
    background-color: rgb(68, 177, 68);
    width: 50%;
}

#sideBar ul li {
    padding: 10px 0;
    text-align: left;
    font-size: x-large;
}

#work{
width: 300px;
height: 450px;
border: 2px solid #000;
padding: 10px;
box-sizing: border-box;
overflow: hidden;
float: right;
margin-right: 90px;
margin-bottom: 30px;
background-color: rgb(68, 177, 68);
}

#life {
width: 300px;
height: 450px;
border: 2px solid #000;
padding: 10px;
box-sizing: border-box;
overflow: hidden;
float: right;
margin: 0 70px;
margin-bottom: 30px;
background-color: rgb(68, 177, 68);
}

#rant {
    width: 300px;
    height: 450px;
    border: 2px solid #000;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; 
    float: right;
    margin-bottom: 30px;
    background-color: rgb(68, 177, 68);
}

#Update1{
    border: 2px solid;
    padding: 2px;
    width:40%;
    height: 200px;
    float: inline-end;
    margin: 20px;
    vertical-align: top;
    background-color: rgb(68, 177, 68);
}

#Update2{
     width: 40%;
     height: 200px;
    padding: 2px;
    border: 2px solid;
    float: inline-start;
    margin-right: 50px;
    margin: 20px;
    vertical-align: top;
    background-color: rgb(68, 177, 68);
}

.banner h2{
    display: block;
    border: 1px grey solid;
    padding: 0;
    margin: 0;
  
}

.banner {
     background: rgb(155, 251, 155);
}




#posts article {
    box-shadow: rgb(31, 81, 31) -30px 30px 30px;
}

#updates article {
    box-shadow: rgb(31, 81, 31) -30px 20px 15px;
    margin: left 20%;
}


ul{
    list-style-type: none;
}

#contact #title {
    text-align: center;
}

#contact #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#submit-button{
    border: none;
    background-color: rgb(68, 177, 68);
    margin: 20px 0;
    padding: 10px 100px;
    box-shadow: rgb(31, 81, 31) -10px 10px 10px;
}

#photos img {
    width: 25%;
    height: 25%;
}

.photo-container a:not(:first-child) {
    display: none;
}

.photo-container a:first-child {
    display: flex;
    justify-content: center;
}

#photos .title {
    text-align: center;
}

#photos #title {
    text-align: center;
}

.input-item input, textarea {
    border: none;
    background-color: rgb(68, 177, 68);
    width: 200%;
    padding: 12px;
    margin: 10px 0;
    box-shadow: rgb(31, 81, 31) -10px 10px 10px;
}

.input-item label {
    font-size: large;
}
}